<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="logo">
                    <img src="assets/img/header/LOGO.svg" alt="">
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="title">My Account</div>
            </div>
            <div class="col-md-2 col-12">
                <div class="title">Useful Link</div>
            </div>
            <div class="col-md-4 col-12">
                <div class="title">Subcrible</div>
            </div>
        </div>
    </div>
</div>