<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="logo">
                    <img src="assets/img/header/LOGO.svg" alt="">
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="title">Liên hệ với chúng tôi</div>
                <div class="social">
                    <a href="https://www.facebook.com/oplungdienthoaidep2021"><img src="assets/img/facebook-f-brands.svg" alt=""></a>
                    <a href="https://instagram.com/inopdepvn?igshid=155vxjqv4r2km"> <img src="assets/img/instagram-brands.svg" alt=""></a>

                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="fb-page" data-href="https://www.facebook.com/oplungdienthoaidep2021/" data-tabs="" data-width="" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/oplungdienthoaidep2021/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/oplungdienthoaidep2021/">In Ốp Lưng Theo Yêu Cầu</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</div>