<header>
    <div class="container">
        <div class="top">
            <a href="https://play.google.com/store/apps/details?id=com.inopdienthoaidep.opviet" class="title">Tải app tại đây </a>
            <div class="search">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="logo" [routerLink]="['/home']">
                <img src="assets/img/header/LOGO.svg" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li [routerLink]="['/home']">Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Chính sách</li>
                </ul>

            </div>
            <div class="right">
                <div class="cart-logo" (click)="goToCart()">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="login" (click)="login()">
                    <i class="fa fa-user"></i>
                </div>

            </div>

        </div>
    </div>
</header>