.card-brand {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
    cursor: pointer;
    &:focus {
        outline: none;
    }
    .top {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .foot {
        border-top: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .title {
            color: #292b2c;
            font-weight: 600;
            line-height: 1.2;
            font-size: 22px;
            text-align: center;
            padding: 15px 0;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all .3s ease-in-out;
            &:hover {
                color: #FF324D;
            }
        }
        .price {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 18px;
            padding-bottom: 10px;
            .real {
                text-decoration-line: line-through;
            }
            .discount {
                color: #FF324D;
                font-weight: 600;
            }
        }
    }
}