<div class="done btn btn-fill-out btn-block" (click)="catchImg()" (click)="uploadProduct()">
  Hoàn tất
</div>
<div class="drag_area" #phoneImage>
  <!-- <div class="done btn btn-fill-out btn-block" (click)="catchImg()" (click)="uploadProduct()">
    Hoàn tất
  </div> -->

  <div class="example-handle" cdkDragBoundary=".drag_area" #dragIconRotate cdkDrag (cdkDragMoved)="dragMove( $event)"
    (cdkDragReleased)="drop($event)">
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
      </path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <div class="phone_img" [style.z-index]="'100'" #phone>

    <div (click)="isDropped.next(true)" [style.he] [style.z-index]="(isDropped | async) ? '-1': '100'" class="drag_select_img"
      #image *ngIf="dataImageSelect" cdkDrag (cdkDragMoved)="isDropped.next()" (cdkDragReleased)="isDropped.next(true)">
      <img [style.transform]="'rotate('+ angle + 'rad)'" [src]="dataImageSelect" [crossOrigin]="'anonymous'" alt="">

      <span #dragHandleCorner [cdkDragLockAxis]="lockAxis" class="dragHandle corner" cdkDrag
        (cdkDragMoved)="resizeImg(dragHandleCorner, $event)"></span>
    </div>
    <div class="draggable" (click)="isDropped.next()" [style.z-index]="!(isDropped | async) ? '-1': '100'">
      <ng-container *ngTemplateOutlet="draggableImage"></ng-container>
    </div>
    <!-- <div class="overlay_drag" [style.z-index]="(isDropped | async) ? '100': '-1'" #overlayDrag>

    </div> -->
  </div>

</div>

<!-- <img [src]="dataBs" alt="" srcset=""> -->
<!-- <div id="download">
  <img [src]="dataBs">
  <a #downloadLink download></a>
</div> -->
<!-- <aj-screen-recoder #screenRecorder></aj-screen-recoder> -->
