.drag_area {
    height: 750px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    border: dotted #ccc 2px;
    z-index: 99999999;
}

.drag_select_img {
    position: absolute;
    width: 320px;
    height: 95%;
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    border-radius: 4px;
    margin-right: 25px;
    img {
        width: 90%;
        height: 90%;
    }
}
.un_drop_zone {
    width: 100%;
    height: 100%;
}
.drag_select_img:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.phone_img {
    width: 100%;
    position: relative;
    background: transparent;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    img {
        width: 100% !important;
    }
}
.drag_warp {
    position: absolute;
    width: 320px;
    z-index: 91;
    height: 85%;
}
.draggable {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.example-handle {
    position: absolute;

    top: 0;
    right: 0;
    color: #ccc;
    cursor: move;
    width: 24px;
    z-index: 999999;
    height: 24px;
}
.overlay_drag {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    /* text-align: center; */
    top: 0;
}
.done {
    width: 200px;
}
.cornner_container {
    position: relative;
    float: right;
    height: 100%;
}

.drag_resize {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    right: 0;
}
.container {
    position: absolute;
    z-index: 100;
    background-color: transparent;
}

.full {
    width: 100%;
    background: yellow;
}

.dragHandle {
    position: absolute;
    background-color: transparent;
}

.dragHandle.corner {
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    background-color: red;
}

.dragHandle.right {
    width: 2px;
    height: 100%;
    cursor: ew-resize;
    right: 0;
    display: none;
}

.dragHandle.bottom {
    display: none;
    bottom: 0;
    height: 2px;
    width: 100%;
    cursor: ns-resize;
}
.overlay_left {
    width: 39.3%;

    top: 0;

    height: auto;
    background-color: white;
}
.overlay_right {
    width: 33.3%;

    height: auto;
    top: 0;

    background-color: white;
}

.overlay_top {
    width: 100%;
    height: 10%;
    z-index: 9999;
    top: 0;
    position: absolute;
    background-color: white;
}

.overlay_bottom {
    width: 100%;
    z-index: 9999;
    height: 10%;
    bottom: 0;
    position: absolute;
    background-color: white;
}
