.editor_wrapper {
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    align-content: center;
}

.close {
    position: absolute;
    right: 40px;
    font-size: 3em;
    cursor: pointer;
    height: 40px;
    img {
        height: 100%;
    }
}