// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-op-dep-primary: mat-palette($mat-indigo);
$web-op-dep-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$web-op-dep-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-op-dep-theme: mat-light-theme( ( color: ( primary: $web-op-dep-primary, accent: $web-op-dep-accent, warn: $web-op-dep-warn, ), ));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-op-dep-theme);

/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./themes/global-class.scss";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Mulish", sans-serif !important;
    margin: 0px;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-family: "Roboto";
}

p {
    color: #000000;
    line-height: 28px;
    margin-bottom: 25px;
}

a {
    color: #000000;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #ff324d;
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    max-width: 100%;
}

button {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

label {
    color: #6c757d;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

iframe {
    border: 0;
    display: block;
}

video {
    width: 100%;
}

html,
body {
    height: 100%;
}

.custom-modalbox {
    mat-dialog-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.full-screen-modal .mat-dialog-container {
    max-width: none;
}