.title {
    text-align: center;
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 100px;
    text-transform: uppercase;
    margin-top: 60px;
}

.logout {
    width: 200px;
    margin: auto;
    margin: 60px auto;
}

.right {
    border: none;
    border-bottom: 1px solid #000;
}